.a,
.c,.d,.e,.f {
    display: line block;

    margin: 0px;
    text-align: justify;
    width: auto;
    height: 1520px;
}
.aulas {
    margin: 0px;
    text-align: justify;
    text-decoration: none;
    width: auto;
    height: 1520px;
    background-color: rgb(110, 110, 110);
}
